
<div class="flex ">
<%= form_with(model: task, class: "mb-5") do |form| %> <!--generete a form associeted to the model task-->
    <div class="flex flex-col">
         <%= form.text_field :title, required: true, placeholder: "Add Task", class: "inline-block sm:flex-row text-violet-900 px-3 py-2 mt-2 shadow rounded-md border border-violet-200 outline-none" %>
    </div>
    <div class="flex flex-col sm:flex-row sm:space-x-2 sm:items-center">
          <%= form.text_field :description, placeholder: "Description", class: "inline-block  sm:flex-row text-violet-900 px-3 py-2 mt-2 shadow rounded-md border border-violet-200 outline-none" %>
          <%= form.date_field :due_date, required: true, class: "inline-block  sm:flex-row text-violet-900 px-2 py-2 mt-2 shadow rounded-md border border-violet-200 outline-none" %>
          <%= form.submit "Save", class: "btn sm:flex-row py-2 mt-2 bg-violet-600 text-white" %>
    </div>
  </div>
<% end %>