<div class=""> <!--block-->
    <turbo-frame id="<%= dom_id task %>" class="block">
        <%= form_with(model: task, class:"text-l inline-block my-3 p-3 m-2 w-auto") do |form|%> <!--render form that represent the task-->
        <div class="flex items-start justify-between min-h-10">
            <%= form.check_box :completed, 
                                data: {
                                    id: task.id,
                                    action: "tasks#toggle"
                                    },
                                class: "mr-2 align-middle bg-violet-50 border-violet-400 focus:ring-violet-500 h-5 w-5 rounded checked:bg-violet-600 hover:bg-violet-400"%>
        
            <div class="ml-2 inline-block ">   
                <div class="text-xl text-violet-900"><%= task.title %></div>
                <div class="text-violet-900"><%= task.description %> </div>
                <div class="text-violet-400"><%= task.due_date.strftime("%b %d") %> </div>
            
                <% end %>
            
                <div class="me-8 flex space-x-2">
                    <%= link_to "Edit", edit_task_path(task),
                            class: "btn bg-violet-200 text-violet-900" %>

                    <%= button_to "Delete", task_path(task), method: :delete, data: { "turbo-frame": "_top" }, class: "btn bg-violet-200 text-violet-900" %>
                </div>
            </div>
        </div>
    </turbo-frame>
</div>

