<div class="block mb2">
    <%= task.title%>
    <%= task.description%>

</div>

<div class="block">
    <%= form_with(model: task, class:"text-lg inline-block my-3 w-72") do |form|%>
    <%= form.check_box :completed, 
                        data: {
                            id: task.id,
                            action: "tasks#toggle"
                            },
                        class: "mr-2 align-middle bg-violet-50 border-violet-400 focus:ring-violet-500 h-5 w-5 rounded checked:bg-violet-600 hover:bg-violet-400"%>
    <%= task.title%>
    <%= task.description%>
    <% end %>
    <%= link_to "Edit", edit_task_path(task),
              class: "btn bg-violet-100"
  %>
  <div class="inline-block ml-2">
    <%= link_to "Delete", task_path(task),
                  data: {
                    'turbo-method': :delete,
                    turbo_confirm: "Are you sure?"
                  },
                  class: "btn bg-violet-100" %>
  </div>
</div>

